<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
         <!-- Nav -->
         <link rel="stylesheet" href="styles/style.css&v=3">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="" crossorigin="">
         <nav class="navbar navbar-expand-lg bg-body-tertiary">
             <div class="container-fluid">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                     <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                 </svg>
             <a class="navbar-brand" href="#"> Music Lib App</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav">
                 <li class="nav-item">
                     <a class="nav-link" href="/">Search</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/add">Add</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/delete">Delete</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/dump">Dump</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/test">Test</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link disabled">Disabled</a>
                 </li>
                 </ul>
             </div>
             </div>
         </nav>
         <!-- End Nav -->
    </head>
    <body>
        <div id="main-content">
            <h3>Edit Album:</h3>
            {{ if .Success}}
                <p>{{.Message}} </p>
                <p> Updated records count: {{.Count}} </p>
            {{else}}
            <p>Editing {{.Message}} </p>
            {{.Title}} {{.Artist}} {{.Price}}
            <form method="POST" action="/edit">
                <label>Title:</label>
                <input name="title" id="title" value="{{.Title}}" required>
                <label>Artist:</label>
                <input name="artist" id="artist" value="{{.Artist}}" required>
                <label>Price:</label>
                $<input name="price" id="price" step="0.01" min="1" max="5" value="{{.Price}}" >
                <input type="submit" value="Go">
            </form>
            {{end}}
        </div>
        <footer>
            <div class="card">
                <div class="card-body">
                  <p class="card-text">&copy;Copyright 2022 by FK. All Rights Reserved.</p>
                </div>
              </div>
        </footer>
    </body>
</html>