.form-select {
    display:inline !important;
    width:20% !important;
}

.form-select-sm { float:left; width:20% !important;}

.main-nav {
    padding: 20px 0;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 0.6rem;
    text-align: center;
    width: max-content;
    /*try*/
   /*  padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;*/
} 

.main-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}

.main-nav li a:hover {
    text-decoration: skyblue;
    color: rgb(190, 172, 172);
}

body {
    background-color: #0d1623;
}

#main-content {
    min-height: 200px;
    padding: 20px;
    font: white;
}

body {
    color: white;
}

#resultstbl {
    width:70%;
    text-align:left;
}

#resultstbl td tr {
    padding-left:20px;
}